
body{
  background-color: white;  
}

:root{
    --font-family: Sniglet;
    
}

.seaweads {
    background-image: url('../images/seaweeds.png'); 
    background-repeat: no-repeat; 
    background-position: 50% 620px;
}

/** Wizard welcome page **/
#welcome_page{
    height: 200px;
}

#workspace{
    align-items: center;
    display: flex;
    justify-content: center;
}